
body {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}

h1 {
    color: #926121;
}

.container {
    margin-top: 50px;
}

.input-label {
    font-weight: bold;
}

.input-field {
    margin-top: 10px;
    padding: 5px;
    width: 200px;
}

.result {
    margin-top: 30px;
    font-weight: bold;
    color: #a55d00;
}

.navegar {
    background-color: #251a00;
    color: #fff;
    padding: 20px;
}

.navegar h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.navegar h2 {
    margin: 20px 0 10px;
    font-size: 18px;
}

.navegar a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
}

.navegar a:hover {
    text-decoration: underline;
}